@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


/* Seletores Genéricos */

body {
    background-color: black;
    color: white;
    /* display: grid;
    height: 100%;
    justify-content: space-around; */
}

p {
    text-indent: 2rem;
    text-align: justify;
}

a, a:visited, a:focus {
    text-decoration: underline;
    color: inherit;
}
a:hover {
    color: gold;
}
a:active {
    color: red;
    font-size: 1.1rem;
}
iframe {
    width: 98%;
    height: 640px;
    display: block;
    object-fit: scale-down;
    border: 2px solid white;
    border-radius: 5px;
    overflow: hidden;
}


/* Seletores de Classe-ID */

.gambiarra-padding-top {
    display: none;
}

#h1-projects-computer-portrait {
    display: none;
}

#contact {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 4rem;
    padding: 1.5rem;
    margin: 0;
    position: fixed;
    bottom: 0%;
}
#contact * {
    display: inline;
    text-decoration: 0;
}

.profile {
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.profile h1 {
    text-align: center;
}

.foto-perfil{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 2px solid white;
}
#contact {
    display: block;
}
#contact::before {
    text: contact;
}
#Projects > h1 {
    font-size: 2.5rem;
}
#info {
    margin: 5rem 1rem;
    display: grid;
    color: white;

}
#info>p {
    text-align: justify;
}
#Projects {
    margin: 1.5rem;
    padding-bottom: 3rem;
 }

