@media (min-width: 800px) {
body {
    margin: 0;
}
.gambiarra-padding-top {
    width: 100wv;
    height: 15vh;
}

.profile {
    position: fixed;
    top: 0;
    width: 100wv;
    height: 15vh;
    min-height: 8rem;
    display: block;
    margin: 0;
    border-bottom: 0.1px gold solid;
}

.img-nome-div {
    width: 100vw;
    /* display: grid;
    grid-template-columns: 350px 1fr;
    justify-content: center;
    justify-items: left;
    align-items: center; */
}
.img-nome-div h1 {
    font-size: 4.0rem;
    /* margin-left: 5vw; */

} 
.img-nome-div img{
    display: none;
    /* height: 10vh;
    width: 10vh;
    justify-self: center;
    margin-top: 0.2vh; */
}

.side-projects__container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 78vh;
}

#h1-projects-cellphone_portrait {
    grid-column: 1 / -1;
}
#h1-projects-computer-portrait{
    display: block;
    font-size: 5rem;
    justify-self: left;
    position: relative;
    left: -80%;
}
#side {
    display: block;
    overflow: scroll;
    width: 350px;
    padding: 0px;
}
#Projects {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 5rem 85vh 85vh 85vh;
    justify-content: space-around;
    scrollbar-width: none;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    }
#Projects::-webkit-scrollbar, iframe::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
#Projects h1 {
    margin: 0;
    text-align: center;
    font-size: 4rem;
}
#Projects h2 {
    text-align: center;
}
#Projects p {
    display: block;
    height: 8rem;
    overflow: hidden;
}

#Project-container{
    display: block;
} 
#info {
    margin-top: 2rem;
}
iframe {
    height: 55vh;
    width: 30vw;
    border: 2px solid gold;
}

#contact {
    margin-bottom: 1.5rem;
}
#contact a {
    font-size: 1.5rem;
}
